// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, .card-body, nav{
  background-color: orange;
}
.card-header, .container{
  background-color: #e67e00;
}
.navbar{
  background-color: orange;
}
a{
  color: black;
}
